.logo a {
  background-size: 30rem;
  width: 30rem;
}
nav[role=navigation] li a {
    background-color: #28285b;
}
.flexblock li h2 svg {
  padding: 5px;
}
.button, .button:hover {
  border-width: 0px;
}
.steps li span {
  margin: 0 0 .8rem;
}
.button {
  min-width: 4.8rem;
}
.gallery li {
  background-color: white;
}
.partners>li {
  max-width: 500px;
}
section, .slide {
    padding-bottom: 12rem;
}
@media (min-width: 1024px) {
  section, .slide {
      padding-top: 6rem;
      padding-bottom: 6rem;
  }
}